.venv/
*.__pycache__/
*.pyc
*.db
*.db-shm
*.db-wal
.DS_Store
.env*
.vscode
bittensor_pylon.egg-info/
bittensor_pylon.sqlite3
build/
.turbobt/
.idea/
.junie/
docker-compose.yaml
_ignore_*
pylon_client/tests/pact/pacts/*
.worktrees/
.claude
.codex
pylon_service/tests/.tmp/*
